body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
}
li{
    list-style: none;
}
.container{
    max-width: 1340px;
    margin-inline: auto;
    margin-block: 50px;
}
.container .post{
    border: 1px solid black;
    box-shadow: 3px 3px rgb(77, 77, 77);
    padding: 20px;
    margin-bottom: 20px;
}
.post h1 {
    text-transform: uppercase;

}
.container .commentArea {
    display:none;
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}
  
  /* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}
.container .accordion{
    border-radius: 12px;
}
.container .comments{
    border: 1px solid gray;
    border-radius: 12px;
    transition: auto;
    transition-duration: 400ms;
}
h2{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    text-shadow:2px 2px #948484;
}
